
body {
    font-family: 'Kanit', sans-serif !important;
}

/* ----------------------------------------
---header related style content------------
---------------------------------------- */
/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */


header{
    text-align: center;
    display: inline;
    height:64px;  
}

#top-header {
    font-size: 64px;
    margin: 15px 15px 0px 15px;
    display: inline;
    text-align: center;
    height: auto;
    vertical-align: middle;
    margin: 0px;
}

#title-paragraph{
    margin: 0px;
    padding: 0px 0px 18px 0px;
}

#title-link{
    text-align: center;
    display: inline;
}

#top-navigation{
    margin: 0px;
    padding: 0px;
    height: 65px;
    width: auto;
    text-align: center; 
    vertical-align: top;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

#output{
    margin: 20px;

}




.nav-link{
    display: inline;
    padding: 15px;
    border-right: 1px gray;
    width: auto;
    font-size: 24px;
    vertical-align: top;    
}

li {
    display: inline;
    padding: 32px;
    border-right: 1px gray;
    width: auto;
    font-size: 24px;
  }

/* ----------------------------------------
---footer related style content------------
---------------------------------------- */
#page-container {
    position:relative;
    min-height: 100vh;
}

#page-content{
    padding-bottom: 2.5rem;
    
}

/* #page-footer{
    position:absolute;
    bottom: 0;
    margin: 32px;
    width: 100%;
    height:2.5rem;
} */



/* ----------------------------------------
-----------header link style------------
---------------------------------------- */
a:link{
    color:#595959;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:#595959;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color:#A5A5A5;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #F2F2F2;
    background-color: transparent;
    text-decoration: none;
 }


/* ----------------------------------------
--------sumo search table style------------
---------------------------------------- */

 .rikishi-table{
  border: 1px solid black;
  max-width: 500px;
  width: 100%;
}

.rikishi-table td{
  border: 1px solid black;
  width: 250px;
}

td > p {
  margin:0px;
}


/* ----------------------------------------
-----------page card style------------
---------------------------------------- */
/* https://www.w3schools.com/howto/howto_css_cards.asp */

.card{
    box-shadow: 0px 4px 8px 0 #7F7F7F;
    transition: 0.3s;
    border-radius:5px;   
    float:left;
    margin: 10px;
}

.card-content{
    padding: 15px;
    display:inline;
    width: 100%;
}

.card-line-item{
    margin: 5px;
    font-size: large;
    font-weight: bold;
}


/* ----------------------------------------
-----------hamburger menu stuff------------
---------------------------------------- */

/* .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;

  } */
 
/* controls .hamburger-nav div style */

  .hamburger-nav {
    /* overflow: hidden; */
    background-color: #cccccc;
    position: relative;  }
  
/* controls hamburger button style */
  
  .hamburger-nav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
 /* a.icon {
    background: #F2F2F2;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }  */
  
  .hamburger-nav a:hover {
    background-color: #A5A5A5;
    color: black;
  }







  


/* ----------------------------------------
-----------gallery photo stuff ------------
---------------------------------------- */
  .gallery{
    display: inline-block;
  }
  .image-class{
    margin:5px;
  }
  .toggle-link{

    margin: auto;
  }

/* ----------------------------------------
-- hamburger links - works with function --
---------------------------------------- */

.hamburger-nav #hamburger-links {
    display: none;
  }


/* ----------------------------------------
----------- media functions----------------
---------------------------------------- */  
/*w3schools*/
/* https://www.w3schools.com/css/css3_mediaqueries.asp */
@media screen and (max-width: 540px) {
    #top-navigation {
      display: none;
    }
    #webpage{
      display: none;
    }
    #mobile{
      display:inline-block;
    }
} 
@media screen and (min-width: 541px) {

  #mobile{
    display:none;
  }
} 


/* ----------------------------------------
----------- slide show --------------------
---------------------------------------- */

/* makes images fix within parent container */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.sumo-slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  /* percentage of the height of the containing block */
  top: 50%;
  width: auto;
  /* moves the margin of a bottom element closer or
  further from the top element */
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  /* indicates the length and style of transition */
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* makes it so the user can't highlight & select text */
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* When you hover over the arrow buttons, it adds a black square */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* This is the text in the upper left hand corner */
.number-text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* When you hover over dot, it gets darker */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* during the fade between images, this causes
a point where the background is not fully opaque */
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}